.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: #f9f9f9;
}

.accountIconContainer {
  display: flex;
  align-items: center;
}

.accountIcon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.userName {
  margin-left: 10px;
  font-size: 16px;
  color: #000;
}