.p1 {
    height: auto;
    width: 100%;
    font-size: 1rem;
    word-wrap: break-word;
}

.h2{
    color: #6B6B6B;
    font-size: 1.25rem;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5%;
    color: #6B6B6B;
    font-family: "Poppins", sans-serif;
    background-color: #dcdada;
    width: 100%;
    max-width: 1413px;
    height: 151px;
    padding: 0 20px;
    box-sizing: border-box;
}

.box-container{
    display: flex;
    justify-content: center;
    position: relative;
    top:50px;
    gap:430px;
    font-family: "Poppins",sans-serif ;
}

.box1, .box2 {
    background-color: #dcdada;
    width: calc(50% - 20px);
    max-width: 460px;
    min-width: 300px;
    height: auto;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.btn {
    width: 149px;
    height: 53px;
    background: #51237F;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.btn:hover {
    background-color: #3e1e5a;
}


.button-container{
    display: flex;
    justify-content: center;
    position: relative;
    top:75px;
    gap:30%;

}

.checkbox-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 2%;
    width: 100%;
}

.checkbox-list label {
    font-family: "Poppins", sans-serif;
    color: #6B6B6B;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: #dcdada;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    border-radius: 5px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
}


.checkbox-list label:hover {
    background-color: #d1d1d1;
}

.checkbox-list input {
    width: 20px;
    height: 20px;
}

