.pageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;

  background:
  linear-gradient( rgba(183, 90, 217, 0.6) -18.1%, rgba(134, 130, 224, 0.7) 37.07%, rgba(206, 166, 240, 0.7) 78.83%, rgba(182, 93, 214, 0.6) 119.47%),
  radial-gradient(31.3% 50% at 50% 50%, rgba(201, 164, 234, 0.3) 0%, rgba(188, 182, 237, 0.3) 100%),
  linear-gradient( rgba(194, 166, 234, 0) 9.24%, rgba(194, 166, 234, 0.75) 91.45%);
}

/*  Card  */
.cardcontainer {
    background-color: #D9D9D9;
    margin: 15px 15px 15px 15px;
    padding: 10px 10px 10px 10px;
  }

  .cardHeader {
    color: #6B6B6B;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-left: 24px;
    padding-right: 36px;
  }

  .cardBody {
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-left: 24px;
    padding-right: 36px;
  }

  /*    btn     */

  .btn {
    width: 149px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 7px;
    background: #51237F;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
  }

  .btn:hover {
    cursor: pointer;
  }

  .btnText {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
  }

  .btnP {
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

  /* Grid */

  .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 1rem;
  }

  @media screen and (max-width: 768px) {
    .grid {
      grid-template-columns: 1fr; 
      grid-template-rows: auto; 
    }
  }
  
/* Decision Section */
.decision-container {
  text-align: center;
  margin-top: 20px;
}

.decisionTitle {
  font-family: Poppins;
  font-size: 24px;
  color: #6B6B6B;
  margin-bottom: 20px;
}

.decisionButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.decisionButton {
  text-decoration: none;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background-color: #51237F;
  padding: 10px 20px;
  border-radius: 7px;
  transition: background-color 0.3s;
}

.decisionButton:hover {
  background-color: #6A479F;
  cursor: pointer;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.logoImg {
  height: 60px;
}

.logo-text {
  margin: 5px 0 0;
  font-size: 16px;
  color: #555;
  font-weight: 400;
}

@media screen and (max-width: 768px){
  .logo {
    position: static;
  }
}


.getStartedBtn {
  background-color: #6A1B9A;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}

/*for dash component activity tracker*/
/* Dash component and landing page share a CSS file*/
.activityGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.activityCell {
  width: 20px;
  height: 20px;
  background-color: #ebedf0;
  border: 1px solid #ddd;
  text-align: center;
  line-height: 20px;
  font-size: 10px;
}