

@font-face {
  font-family: 'Geistmono';
  src: url('../src/app/fonts/GeistVF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Geist'; /* Use the new font */
    background-color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  padding: 2rem;
}

/* Logo */
.logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

/* Pathway Container */
.pathway-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 16rem; /* Add space between logo and pathway */
}

.pathway-box {
  background-color: #e5e7eb; 
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-align: center;
  width: 16rem;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.arrow {
  font-size: 2rem; 
  color: #000000;
}

/* Progress Tracker */
.text-center {
  text-align: center;
  margin-top: 1rem;
}

.text-lg {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.button-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}

button {
  background-color: #51237F; /* Raptor Purple */
  color: #ffffff;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 9999px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 5rem;
  
}

button:hover {
  background-color: #553c9a; 
}